<h1>Edit Landmark</h1>
  <form method="post" action="/landmarks/<%= @landmark.id %>">
    <h3>Enter Landmark Info</h3>
    <p>Name: <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"></p>
    <p>Year: <input type="text" name="landmark[year_completed]" id="year_completed" value = <%= @landmark.year_completed %>></p>
    <br>
    <br>
    <h3>Select Associated Figure:</h3>
    <% Figure.all.each do |figure|%>
        <input type="checkbox" name="landmark[figure_id]" value="<%=figure.id%>" id="figure_<%=figure.id%>" <%= 'checked' if @landmark.figure_id == figure.id %>><%=figure.name%></input><br>
    <%end%>
    <br>
    <p> Or, create your own associated figure: <input type="text" name="figure[name]" id="new_figure"></p>
    <br>
    <input type="submit" value="Edit Landmark">
  </form>
