<h1>Edit Figure</h1>

<a href="/figures/<%= @figure.id %>">Go back</a>

<form action="/figures/<%= @figure.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch" />
  <div>
    <label for="name">Name:</label>
    <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>" />
    </div>

  <div>
    <h3> Titles: </h3>

          <% @titles.each do |title| %>
                <div>
                  <input type="checkbox" id="title_<%= title.id %>" name = "figure[title_ids][]"
                         value="<%= title.id %>" />
                  <label for="title-<%= title.id %>"><%= title.name %></label>

                </div>
            <% end %>
            <div>
                  <h3> Create new title: </h3>

                  <input type="text" id = 'title_name' name="title[name]">
            </div>
  </div>

  <div>
                <h3> Landmarks: </h3>

                <% @landmarks.each do |landmark| %>
                      <div>
                        <input type="checkbox" id="landmark_<%= landmark.id %>" name = "figure[landmark_ids][]"
                               value="<%= landmark.id %>" />
                        <label for="landmark-<%= landmark.id %>"><%= landmark.name %></label>

                      </div>
                  <% end %>
                  <div>
                        <h3> Create new landmark: </h3>
                        <label for= "name"> Name: </label>
                        <input type="text" id = 'new_landmark' name="landmark[name]">
                        <label for= "name"> Year: </label>
                        <input type="text" id = 'landmark_year_completed' name="landmark[year_completed]">
                  </div>
      </div>

  <input type="submit" value="Edit Figure" />
</form>
