<h1>Create New Figure</h1>
  <form method="post" action="/figures/new">
    <h3>Enter Figure Name</h3>
    <input type="text" name="figure[name]" id="figure_name">
    <br>
    <br>
    <h3>Select titles:</h3>
    <% @titles.each do |title|%>
        <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%></input><br>
    <%end%>
    <br>
    <p> Or, create your own title: <input type="text" name="title[name]" id="new_title"></p>
    <br>
    <h3>Select AVAILABLE landmarks:</h3>
    <% @landmarks.each do |landmark|%>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input><br>
    <%end%>
    <br>
    <h3>Or create our own landmarks:</h3>
    <p>Name: <input type="text" name="landmark[name]" id="new_landmark"></p>
    <p>Year: <input type="text" name="landmark[year_completed]"></p>
    <br>
    <input type="submit" value="Create New Figure">
  </form>
